# For received mails with Resend
RESEND_API_KEY=re_votre_cle_ici
CONTACT_EMAIL=votre_email@exemple.com

# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=votre_project_id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01